.bluetext {
  color: #006bb7 !important;
}
.redtext {
  color: #ed174b !important;
}
.greentext {
  color: #66c266 !important;
}
* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Roboto", sans-serif;
  background-color: #f3f3f3;
  color: #333;
}
#header {
  text-align: center;
  color: #051c2d;
  font-size: 1.5rem;
  font-weight: 400;
  text-transform: uppercase;
  margin: 2rem 0;
}
#header .nbalogo svg {
  max-width: 60%;
  height: auto;
}
@media only screen and (min-width:501px) {
  #header {
    font-size: 1.5rem;
  }
}
@media only screen and (min-width:1024px) {
  #header {
    font-size: 2rem;
  }
}
#datePicker {
  margin: 10px auto;
  width: -webkit-fit-content;
  width: fit-content;
  font-family: "Roboto", sans-serif;
  text-align: center;
  display: block;
  border-radius: 10px;
}
input[type="text"],
label {
  font-family: "Roboto", sans-serif;
  text-align: center;
  display: block;
  margin: 10px auto;
  font-size: 14px;
  border-radius: 10px;
  padding: 8px;
  -webkit-appearance: none;
  appearance: none;
  border: 0px solid #051c2d;
  font-weight: 400;
  color: #051c2d;
}
#gamesOn {
  margin-top: 1rem;
  font-size: 1.25rem;
}
#gamesOn span {
  color: #006bb7 !important;
  font-weight: 500;
}
#gameContainer {
  display: block;
  width: -webkit-fit-content;
  width: fit-content;
  margin: 1rem auto 8rem auto;
  padding: 0 1rem;
}
#gameContainer .gameGridFlex {
  display: flex;
  margin: -10px 0 0 -10px;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
@media only screen and (min-width:1024px) {
  #gameContainer .gameGridFlex {
    max-width: 1200px;
  }
}
#gameContainer .gameGridFlex .gameDiv {
  padding: 1rem;
  flex-grow: 1;
  background-color: white;
  text-align: center;
  border-radius: 10px;
  margin: 10px 0 0 10px;
  min-width: 300px;
}
#gameContainer .gameGridFlex .gameDiv .time {
  font-weight: 300;
  font-size: 1rem;
  color: #333;
}
#gameContainer .gameGridFlex .gameDiv .homeAway {
  display: block;
  margin-top: 6px;
  font-weight: 300;
  font-size: 0.75rem;
}
#gameContainer .gameGridFlex .gameDiv .subGrid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
  grid-gap: 1rem;
  text-align: center;
  margin-bottom: 1rem;
  font-weight: 700;
}
#gameContainer .gameGridFlex .gameDiv .status {
  margin-top: 0;
  text-align: center;
  font-weight: 500;
}
#gameContainer .gameGridFlex .gameDiv .cityName {
  font-weight: 300;
  font-size: 0.75rem;
}
.teamLogo {
  display: block;
  position: relative;
  margin: 1rem auto;
  width: 6rem;
  height: 6rem;
}
.teamLogo img {
  object-fit: contain;
}
.timeButtons {
  display: flex;
  text-align: center;
  margin: -10px 0 0 -10px;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.timeButtons button {
  margin: 10px 0 0 10px;
}
.scoreGrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  grid-gap: 1rem;
}
.scoreGrid .score {
  margin-top: 1rem;
  font-weight: 400;
  font-size: 1.5rem;
  color: #333;
}
.scoreGrid .winner {
  color: #66c266 !important;
}
.scoreGrid .loser {
  color: #ed174b !important;
}
button {
  display: inline-block;
  background: #dbdbdb;
  cursor: pointer;
  outline: inherit;
  color: #333;
  border: 1px #dadada solid;
  padding: 5px 10px;
  border-radius: 10px;
  font-weight: 400;
  font-size: 9pt;
  outline: none;
  margin: 0;
}
#loading {
  text-align: center;
  margin-top: 2rem;
}
#loading svg {
  max-width: 6rem;
}
